.vscode/**
.vscode-test/**
src/**
node_modules/**
demo/**
.github/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/esbuild.mjs
**/*.map
**/*.ts
**/.vscode-test.*
CODE_OF_CONDUCT.md
CONTRIBUTING.md
VSCodeKnowledgeMap.code-workspace
CODE_OF_CONDUCT.md
CONTRIBUTING.md
VSCodeKnowledgeMap.code-workspace
